APP_NAME="Ultra Media Secure Service"
APP_ENV=local
APP_KEY=base64:1KycWgdLC3pcZuEL5QCZ1gWccjZZMUX0I0O05Nwouew=
APP_DEBUG=false
APP_URL=

ADMIN_PHONE=
ADMIN_EMAIL=
ADMIN_PASSWORD=

DB_CONNECTION=mariadb
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

FILESYSTEM_DISK=minio

MINIO_ACCESS_KEY_ID=
MINIO_SECRET_ACCESS_KEY=
MINIO_DEFAULT_REGION=
MINIO_BUCKET="umss"
MINIO_URL=
MINIO_ENDPOINT=
MINIO_USE_PATH_STYLE_ENDPOINT=true

VITE_APP_NAME="${APP_NAME}"
